label, input, textarea, select {
  display: block;
  font-size: 16px;
}

.submission input, textarea { // specific to the form
  max-width: 500px;
}

input, textarea, select {
  padding: 0px 10px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 2px solid #e3e3e3;
  width: 100%;
  box-sizing: border-box;
  height: 45px;
}

textarea {
  padding: 10px;
  resize: none;
  height: auto;
}

label:focus, input:focus, textarea:focus {
  outline: none;
  border-color: $orange;
}

select:focus {
  outline: none;
}

label {
  font-size: 14px;

  span {
    margin: 5px 0px;
  }
}

::placeholder {
  color: #bbbbbb;
}