label, input, textarea {
  display: block;
  font-size: 16px;
}

input, textarea {
  padding: 10px;
  margin: 5px 0px;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

textarea {
  resize: none;
  height: auto;
}

label:focus, input:focus, textarea:focus {
  outline: none;
}

label {
  font-size: 14px;

  span {
    margin: 5px 0px;
  }
}

::placeholder {
  color: #bbbbbb;
}