.navbar {
  min-height: 60px;
  line-height: 60px;
  font-weight: bold;
  font-size: 18px;
  align-items: center;

  .container { // specific for navbar container
    display: flex;
  }
}

.navbar__left {
  flex-grow: 1;
  justify-content: flex-start;
  display: flex;
  margin-left: -15px;
}

.navbar__right {
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;
  margin-right: -15px;
}

.navbar__item {
  text-decoration: none;
  color: inherit;
  margin: 0px 15px;
}