.navbar {
  height: 80px;
  font-weight: bold;
  display: flex;

  .container { // specific for navbar container
    display: flex;
    width: 100%;
    align-items: center;
  }
}

.logo {
  display: flex;
  color: inherit;
}

.logo__image {
  height: 25px;
}

.logo__text {
  margin: 0px 5px;
}

.navbar__left {
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  font-size: 20px;
}

.navbar__right {
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  margin-right: -15px;
}

.navbar__item {
  text-decoration: none;
  color: inherit;
  margin: 0px 15px;
  // line-height: 60px;
  // opacity: 0.6;
}