.recipe-img-wrap {
  width: 20%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 15px;
  box-sizing: border-box;
}

.recipe-image {
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
}

.recipe-image:after { // make it a square
  content: "";
  display: block;
  padding-bottom: 100%;
}

.recipe-header {
  width: 80%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 15px;
  box-sizing: border-box;
}

.recipe-title {
  display: flex;
  margin-bottom: 20px;

  h1 {
    margin: 0;
    padding-left: 15px;
    padding-right: 5px;
  }
  p {
    opacity: 0.6;
    margin: 0;
    margin-top: 9px;
    padding-right: 15px;
    padding-left: 5px;
  }
}

.recipe-like {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.recipe-details {
  display: flex;
  padding: 0px 15px;

  p {
    margin: 0px;
    width: 30%;
  }

  span {
    font-size: 25px;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.recipe-like-num {
  font-weight: bold;
  font-size: 18px;
  vertical-align: middle;
}

.recipe-sidebar {
  width: 30%;
  padding: 15px;
  box-sizing: border-box;
}

.recipe-directions {
  width: 70%;
  padding: 15px;
  box-sizing: border-box;
}

@media screen and (max-width: $medium-screen) {
  .recipe-details {
    p {
      width: 40%;
    }
  }
}

@media screen and (max-width: $small-screen) {
  .row--recipe-header-mobile {
    align-items: center;
  }

  .recipe-title {
    display: block;
  }

  .recipe-img-wrap {
    width: 40%;
  }

  .recipe-title {
    width: 60%;
    padding: 10px 0px;
    box-sizing: border-box;
    margin-bottom: 0px;

    h1 {
      padding-left: 0px;
    }

    p {
      padding-left: 0px;
      margin-top: 0px;
    }

    .recipe-like {
      margin: 8px 0px;
    }
  }

  .recipe-details {
    justify-content: center; 
    width: 100%;

    p {
      width: inherit;
      flex-grow: 1;
    }
  }

  .recipe-sidebar {
    width: 100%;
  }

  .recipe-directions {
    width: 100%;
  }
}