.filters {
  position: relative;
}

.emoji-magnifying {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 1;
}

.filters input {
  text-indent: 27px;
}

.filters input::placeholder {
  color: black
}