body {
  font-family: jaf-domus, sans-serif;
  margin: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0px 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.column {
  width: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 15px;
  box-sizing: border-box;
}

@media screen and (max-width: $medium-screen) {
  .column {
      width: calc(100%/3);
  }
}

@media screen and (max-width: $small-screen) {
  .column {
      width: 50%;
  }
}

@media screen and (max-width: $mobile-screen) {
  .column {
      width: 100%;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 8px 0px;
}

.link-wrapper {
  text-decoration: none;
}